fastapi
uvicorn

python-multipart>=0.0.9
# opencv-python==4.7.0.72
opencv-python-headless
torch
torchvision
timm

Pillow
numpy==1.26.4

pandas
matplotlib

pyyaml

tqdm

huggingface-hub
transformers
langchain-groq
python-dotenv
